<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Remote Nuclear Monitoring</title>
</head>

<body>
    <!-- Insert current video frame -->
    <div align="center">
        <h1>Live Feed from the Plant</h1>
        <img src="{{ url_for('video_feed') }}" width="700" height="700">
    </div>

    <!-- Insert temperature and humidity readings -->
    <div align="center">
        <h1>Sensor Readings</h1>
        <h2>Temperature: 85 <span>&#176;</span>F<h2>
        <h2>Humidity:    34%<h2>
    </div>

    <!-- Respond to buttons -->
    <form method="post" action="/">
        <input type="submit" name="on" value="on">
        <input type="submit" name="off" value="off">
    </form>

    <!-- Respond to position slider -->
    <form method="post" action="/position_slider">
        <div class="posistionslidecontainer" id="slide_container1" align="center">
            <input type="range" id="speed" name="speed" min="0" max="99">
            <input type="submit" value="Set Arm Position">
        </div>
    </form>

    <!-- Respond to rotation slider -->
    <form method="post" action="/rotation_slider">
        <div class="rotationslidecontainer" id="slide_container2" align="center">
            <input type="range" id="angle" name="angle" min="0" max="180">
            <input type="submit" value="Set Camera angle">
        </div>
    </form>

</body>

</html>
